.myModal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: all 1s;
    transform: scale(0.5);
}

.myModalContent{
    padding: 35px;
    background-color: white;
    border-radius: 15px;
    min-width: 250px;
    display: flex;
    justify-content: space-between;
   
}

.myModal.active{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transform: scale(1);
}