.btn {
    box-sizing: border-box;
    appearance: none;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 16px;
    padding: 15px 40px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: Century Gothic;
    font-weight: 700;
    color: black;
    transition: all 1s;
    margin: 10px;
  }
  .btn:hover {
      text-decoration: none;
      transition: all 1s;
      font-weight: bolder;
      border: 3px solid lime;
      color: lime;
      background-color: white;
  }
  .btn:active {
    /* background-color: #1E1F1C;
    border: 2px solid white;
    color: white; */
    border-radius: 15px;
  }